<ion-modal-view>
<ion-header-bar>
<h1 class="title">Manage Members</h1>
<div class="buttons">
  <button class="button button-clear" ng-click="closeModal()">Close</button>
</div>
</ion-header-bar>
<ion-content ng-init="showRequests=true">



    <div class="button-bar" >
      <a class="button" ng-click="showRequests=true;showByEmail=false;showAllMembers=false">
        <i style="font-size:80%;color:#009999">requests</i></a>
      <a class="button" ng-click="showRequests=false;showByEmail=true;showAllMembers=false">
        <i style="font-size:80%;color:#009999">add by email</i></a>
      <a class="button" ng-click="showRequests=false;showByEmail=false;showAllMembers=true">
        <i style="font-size:80%;color:#009999">random group</i></a>
    </div>

    <br><br>

    <div ng-show="showRequests">
       
              <div class="bar bar-subheader">
                <div class="title"></div>
              </div>
              <br>

              <div  class="row responsive-sm"> 
                <div class="message col" style="text-align:center" ng-show="requests === null"> There are no requests at this point
                </div>
              </div>
            
              <form>
                    <div class="clist" >
                      <i>Accept requests to join your club</i>
                      <div class="item" ng-repeat="(key, data) in requests">
                            <div class="row">
                                <div class="col">
                                  {{data}}
                                </div>

                                <div class="col">
                                  <select ng-init="position = titles[8]" 
                                          ng-model="requestingMember.position" ng-options="title for title in titles">
                                  </select>
                                </div>
                                <div class="col">
                                 <button ng-hide="requestAdded" class="button button-small button-positive" 
                                          ng-click="addRequestingMember(key,data,requestingMember.position)">
                                          Accept
                                  </button>
                                </div>
                            </div><!-- row  -->
                      </div>
                    </div>
               </form>
     </div>

    
    <div ng-show="showByEmail">

      <div class="bar bar-subheader">
        <div class="title" ></div>
      </div>
      <br>
       <form name="myForm"> 

                  <div class="error" ng-show="form.email.$dirty && form.email.$error.required">
                      Invalid email
                  </div>
                  <div  class="error" ng-show="memeberAddError !== null">
                      {{memeberAddError}}
                  </div>

    
           <div class="list">
                  <i>Add Members Email Here. Person you add must have Peopler's account</i>
                  <label class="item item-input">
                    <!-- <span class="input-label">Member's Email</span> -->
                    <input type="email" name="email" ng-model="newMember.email" placeholder="Member's Email" required>
                  </label>

                  <label class="item item-input">
                     <span class="input-label dim">Assign A Title   </span>
                      <select ng-init="newMember.position = titles[8]" ng-model="newMember.position" 
                              ng-options="title for title in titles" >
                     </select>
                      
                     <br>
                  </label>

                <label class="item" >
                  <button ng-disabled ="myForm.email.$dirty && myForm.email.$invalid" class="button button-block button-positive" 
                          ng-click="addMember('fromForm')">Add
                  </button>
                </label> 
          </div> 
       </form> 
    </div>



    <div ng-show="showAllMembers">
        <div class="bar bar-subheader">
        <div class="title"></div>
      </div>
    
      <br>
              <div  ng-if="groupFormingError" class="row responsive-sm"> 
                <div class="error message col" style="text-align:center" ng-show="requests === null">
                  {{groupFormingError}}
                </div>
              </div>
      <ul class="list">
        Form  a new Group Messaging:   <i style="color:#009999">{{groupName}}</i><br>
        
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="groupName" placeholder="Name This Group">
            </label>
          </div>

        <li class="item item-checkbox" ng-repeat="user in allUsers" ng-if="user.email"> 
           <label class="checkbox">
             <input type="checkbox" name="users" ng-model="allUsers[$index].data" value="user.email">
           </label>
             {{user.email | shaveEmail}}
             <!-- <pre>{{user | json}}</pre> -->
        </li>
      </ul>
          <label class="item" >
          <button class="button button-block button-positive" ng-click="formGroup(allUsers, groupName)">Add Users</button>
          </label>
    </div>

</ion-content>
</ion-modal-view>