<ion-modal-view>
<ion-header-bar>
<h1 class="title">Manage Members</h1>
<div class="buttons">
  <button class="button button-clear" ng-click="closeModal()">Close</button>
</div>
</ion-header-bar>
<ion-content ng-init="showRequests=true">



    <div class="button-bar" >
      <a class="button" ng-click="showRequests=true;showByEmail=false;showAllMembers=false">
        <i style="font-size:80%;color:#009999">requests</i></a>
      <a class="button" ng-click="showRequests=false;showByEmail=true;showAllMembers=false">
        <i style="font-size:80%;color:#FF9900">via email</i></a>
      <a class="button" ng-click="showRequests=false;showByEmail=false;showAllMembers=true">
        <i style="font-size:80%;color:#8585FF">new group</i></a>
    </div>

    

    <div ng-show="showRequests">
       
             <!--  <div class="bar bar-subheader">
                <div class="title"></div>
              </div> -->
              <br>

              <div  class="row responsive-sm"> 
                <div class="message col" style="text-align:center" ng-show="requests === null"> There are no requests at this    point
                </div>
              </div>
            
              <form>
                    <div class="clist" >
                
                      <div class="item" ng-repeat="(key, data) in requests" style="border-color:#009999;">

                            <div class="row">
                                <div class="col">
                                  {{data}}
                                </div>

                                <div class="col">
                                  <select ng-init="position = titles[8]" 
                                          ng-model="requestingMember.position" ng-options="title for title in titles">
                                  </select>
                                </div>
                               </div><!-- row  -->
                                <div>
                                 <a ng-hide="requestAdded" class="message" 
                                          ng-click="addRequestingMember(key,data,requestingMember.position)"
                                           style="background-color:#009999;color:white;">
                                          Accept
                                  </a>
                                </div>
                           
                      </div>
                    </div>
               </form>
     </div>

    
    <div ng-show="showByEmail">

     <!--  <div class="bar bar-subheader">
        <div class="title" ></div>
      </div> -->
     <br>
       <form name="myForm"> 

                  <div class="error" ng-show="form.email.$dirty && form.email.$error.required">
                      Invalid email
                  </div>
                  <div  class="error" ng-show="memeberAddError !== null">
                      {{memeberAddError}}
                  </div>

    
           <div class="list">
                  <!-- <i>Add New Members</i> -->
                  <label class="item item-input" style="border-color:#FF9900">
                    <!-- <span class="input-label">Member's Email</span> -->
                    <input type="email" name="email" ng-model="newMember.email" placeholder="Member's Email" required>
                  </label>

                  <label class="item item-input" style="border-color:#FF9900">
                     <span class="input-label dim">Assign a title   </span>
                      <select ng-init="newMember.position = titles[8]" ng-model="newMember.position" 
                              ng-options="title for title in titles" >
                     </select>
                      
                     <br>
                  </label>

                <label class="item" style="border-color:#FF9900" >
                  <button ng-disabled ="myForm.email.$dirty && myForm.email.$invalid" 
                          class="button button-block " style="background-color:#FF9900; color:white"
                          ng-click="addMember('fromForm')">message now
                  </button>
                </label> 
          </div> 
       </form> 
    </div>



    <div ng-show="showAllMembers">
    <!--     <div class="bar bar-subheader">
        <div class="title"></div>
      </div> -->
      <br>
  
              <div  ng-if="groupFormingError" class="row responsive-sm"> 
                <div class="error message col" style="text-align:center" ng-show="requests === null">
                  {{groupFormingError}}
                </div>
              </div>
      <ul class="list">

       <i style="color:#8585FF; padding-left: 20px;">{{groupName}}</i><br>
        
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="groupName" placeholder="choose names below and name it here">
            </label>
          </div>

        <li class="item item-checkbox" ng-repeat="user in allUsers" ng-if="user.email"> 
           <label class="checkbox">
             <input type="checkbox" name="users" ng-model="allUsers[$index].data" value="user.email">
           </label>
             {{user.email | shaveEmail}}
             <!-- <pre>{{user | json}}</pre> -->
        </li>
      </ul>
          <label class="item" >
          <button class="button button-block" style="background-color:#8585FF; color:white" ng-click="formGroup(allUsers, groupName)">Create group</button>
          </label>
    </div>

</ion-content>
</ion-modal-view>