
<ion-view title="{{clubBar.name}}"  animation="no-animation" ng-controller="ClublistCtrl">

<ion-nav-buttons side="right">
<a style="padding-right:40px;" ng-if="messageboxCount" class="tab tabs-icon-only" ng-click="goToMessages()">
	
	<div  class="ion-ios7-email-outline" style="font-size:270%;">	
	</div>
	<div  ng-show="messageboxCount > 0" class="message-badge">
		<i class="badge badge-assertive">{{messageboxCount}}</i>
	</div>
</a>


</ion-nav-buttons side="right">
<ion-nav-buttons side="right">
<a style="padding-right:20px;" class="tab tabs-icon-only" ng-click="openPopover()">
	<i style="font-size:270%;" class="ion-ios7-search-strong"></i>
</a>
</ion-nav-buttons>


<ion-nav-buttons side="right">
<a ng-show="rightToAdd"  class="tab tabs-icon-only" ng-click="openModal()">
	<div class="ion-ios7-personadd-outline" style="font-size:270%;">	
	</div>
	<div  ng-show="requestCount > 0" class="message-badge">
		<i class="badge badge-positive">{{requestCount}}</i>
		
	</div>

</a>
</ion-nav-buttons>




<ion-content class="has-header has-footer">

<button ng-if="recievedMessagesLength > 9" class="button button-small button-block button-stable" ng-click="loadMore()">load more</button>

<div  ng-class="{'message-container-me': recievedMessage.sender.uid === currentUser.uid,
'message-container': recievedMessage.sender.uid !== currentUser.uid}" 
ng-repeat="recievedMessage in recievedMessages" ng-init="scrollBottom()" >


<div ng-class="{'message-me': recievedMessage.sender.uid === currentUser.uid,
	'message': recievedMessage.sender.uid !== currentUser.uid}" >

	<img ng-if="!!recievedMessage.message.image" class="full-image"
	ng-src="data:image/jpeg;base64,{{recievedMessage.message.image}}" 
	alt="image message NOT shown" style="max-width:200px;min-width:200px" >
	<br ng-if="!!recievedMessage.message.image">
	 {{recievedMessage.message.message}}




</div>	
<div class="dim" 
ng-class="{'message-title-me': recievedMessage.sender.uid === currentUser.uid}" >
{{recievedMessage.createdAt | timeago:ago}}</div>	


<div class="row dim">

	<a ng-hide="recievedMessage.sender.uid === currentUser.uid" class="message-title" ng-click="toPerson(recievedMessage.sender.uid)"> {{recievedMessage.sender.password.email | shaveEmail}}
		<i class="ion-reply"></i>
	</a>
	<a ng-hide="recievedMessage.sender.uid === currentUser.uid" class="message-title" ng-click="toPeople(recievedMessage.position)">{{recievedMessage.position[0]}}
		<i class="ion-reply-all"></i>
	</a>
	
</div>

</div>

<br>


</ion-content>

	<div class="bar bar-footer row row-bottom" >
		
		<div class="col button button-clear " ng-click="takePicture()">
			<i class="icon ion-camera theme"></i>
		</div>
		<div id="messageBox" class="col col-75">
			<i ng-if="loading" class="theme ion-loading-d"></i>
			<img class="message-box"  ng-if='imageData' ng-src="data:image/jpeg;base64,{{imageData}}" 
			alt="image message NOT shown" height="80" width="80"><br>
			<textarea autofocus ng-class="{'message-box-image': imageData === null}"
			class="message-box" msd-elastic rows="1" 
			style="resize: none;" ng-model="message" placeholder="message" > 
		</textarea >
	</div>
	<div style="font-size:95%;" class="button button-clear theme col" ng-click="sendMessage(message);message=''">
		<i class="theme">Send</i>
	</div>


</div>

</ion-view>
