<ion-modal-view>
<ion-header-bar>
<h1 class="title">Creat New Club</h1>
<div class="buttons">
	<button class="button button-clear" ng-click="closeCreateClubModal()">Close</button>
</div>
</ion-header-bar>
<ion-content class="has-header" ng-controller="CreateCtrl">


<div class="list">
<br><br>
	  <div ng-show="creationError" class="row responsive-sm">
          
            <div class="col error message" style="text-align:center">{{creationError}}</div>

       </div>


	<label class="item item-input" style="border-color:#009999">
		<!-- <span class="input-label">Club Name</span> -->
		<input name="name" ng-model="club.name" type="text" placeholder="Club Name">
	</label>
	<label class="item item-input" style="border-color:#009999">
		<!-- <span class="input-label">Small Description</span> -->
		<input name="description" ng-model="club.description" type="text" placeholder="Small Description">
	</label>

	<div id="messageBox" class="col col-75">
		<img class="message-box"  ng-if='imageData' ng-src="data:image/jpeg;base64,{{imageData}}" 
		alt="image message NOT shown" height="80" width="80"><br>
	</div>
	<div class="col button button-clear " ng-click="takePicture()">
		<i class="icon ion-camera theme"></i> Add club profile picture
	</div>

	<label class="item" style="border-color:#009999">	
		<button class="button button-block" style="background-color:#009999;color:white" 
		  		ng-click="createClub(club);" > Create New Club 
		</button>
    </label>

</div>






</ion-content>
</ion-modal-view>