
<ion-view ng-controller="IntroCtrl">

<ion-slide-box does-continue="true">
    <ion-slide style="background-image: url('img/opener1.jpg');">
        <h3>Thank you for choosing Peopler</h3>
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
        <p>
          Use it to orginize you wedding, your trip or you business
        </p>
        <p>
          You become the Founder and Hire your friends and family
        </p>
        <button class="button button-positive" ng-click="login()"> <b> sign up or login</b> </button>
    </ion-slide>
    <ion-slide style="background-image: url('img/opener2.jpg');">
        <h3>Orginize hierarchicaly</h3>
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
        <p>
          You add people and assign them a title and duties
        </p>
        <p>
          You can communicate tasks and things to do by group or individually
        </p>
        <button class="button button-positive" ng-click="login()"> <b> sign up or login</b> </button>
    </ion-slide>
    <ion-slide style="background-image: url('img/opener3.jpg');">
        <h3>Message all or by Group</h3>
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
        <p>
          Orginze everything from you kids soccer
        </p>
        <p>
          To any thing only you can imagine
        </p>
        <button class="button button-positive" ng-click="login()"> <b> sign up or login</b> </button>
    </ion-slide>
</ion-slide-box>


</ion-view>



