
<ion-slide-box does-continue="true" auto-play="true" slide-interval="5000" show-pager="false" ng-controller="IntroCtrl">
    <ion-slide style="background-image: url('img/opener1.jpg');">

      
        <h3 class="message">Organize</h3>

        
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
          
          
              <div class="message">Create a Club</div><br>
              <div class="message">Add People (hire)</div><br>
              <div class="message">Assign them job title</div><br>
              <div class="message">Text them orders</div><br>
              <div class="message">Manage your people with Peopler</div><br>
          

           <br>
         <button ng-hide="currentUser" class="button button-balanced" style="border-radius:10px" ng-click="login()">  <b> login/sign up </b> </button>
         <button class="button button-positive" style="border-radius:10px" ng-click="skip()">  <b> skip intro</b> </button>



    </ion-slide>
    <ion-slide style="background-image: url('img/opener2.jpg');">

        <h3 class="message">Communicate</h3>

       
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
        
     
              <div class="message">Chat with everyone</div><br>
              <div class="message">OR chat per title</div><br>
              <div class="message">Send pictures or videos</div><br>
              <div class="message">This is your club</div><br>
               <div class="message">You are the FOUNDER and may be CEO</div><br>
        
      <!--   <div>
          <span class="message" ng-click="login()">login/sign up</span class="message" ng-click="skip()"><span>skip</span>
        </div> -->
        <br>
         <button ng-hide="currentUser" class="button button-balanced" style="border-radius:10px" ng-click="login()">  <b> login/sign up </b> </button>
         <button class="button button-positive" style="border-radius:10px" ng-click="skip()">  <b> skip intro</b> </button>

    </ion-slide>
    <ion-slide style="background-image: url('img/opener3.jpg');">

        <h3 class="message">Many At Once</h3>

       
        <div id="logo">
          <img style="border-radius:50%" src="img/icon-72.png">
        </div>
       
          <div class="message">Be the CEO of your wedding</div><br>
          <div class="message">Treasurer of your kids soccer team</div><br>
          <div class="message">A CTO of you church group</div><br>
          <div class="message">A CFO of your family group</div><br>
          <div class="message">You are multi talented in multiple Peoplers</div><br>
        
         <br>
         <button ng-hide="currentUser" class="button button-balanced" style="border-radius:10px" ng-click="login()">  <b> login/sign up </b> </button>
         <button class="button button-positive" style="border-radius:10px" ng-click="skip()">  <b> skip intro</b> </button>


    </ion-slide>
</ion-slide-box>




