<div class="modal">
  <ion-header-bar>
    <h3 class="title">Sign Up or Login</h3>
 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-init="createUser=false">

  <a ng-click="createUser=!createUser;" class="row responsive-sm">
  <div class="col message" ng-hide="createUser"
       style="text-align:center;color:#009999"><b class="ion-arrow-right-c"></b> Signup Here</div>
  <div class="col message" ng-show="createUser" 
        style="text-align:center;color:#FF9900"><b class="ion-arrow-right-c"></b> Login Here</div>
  </a>


 

    
      <div class="list" >
      
        <form>
          <div ng-show="error" class="row responsive-sm">
          
            <div class="col error message" style="text-align:center">{{error}}</div>

          </div>

          <div ng-hide="createUser">
           <label class="item item-input">
            <!-- <span class="input-label">Username</span> -->
            <input type="text" ng-model="loginData.username" 
            placeholder="email" ui-keypress="{enter:'doSignup($event)'}">
          </label>
          <label class="item item-input">
            <!-- <span class="input-label">Password</span> -->
            <input type="password" ng-model="loginData.password" 
            placeholder="password" ui-keypress="{enter:'doLogin($event)'}">
          </label>
        </div>

        <div ng-show="createUser">
          <label class="item item-input">
            <!-- <span class="input-label">Username</span> -->
            <input type="text" ng-model="loginData.username" 
            placeholder="email" ui-keypress="{enter:'doSignup($event)'}">
          </label>
          <label class="item item-input">
            <!-- <span class="input-label">Password</span> -->
            <input type="password" ng-model="loginData.password" 
            placeholder="password" ui-keypress="{enter:'doSignup($event)'}">
          </label>
          <label class="item item-input" >
            <!-- <span class="input-label">Password Confirmation</span> -->
            <input type="password" ng-model="loginData.passwordConfirmation" 
            placeholder="confirm password" ui-keypress="{enter:'doSignup($event)'}">
          </label>

        </div>



      </div>
            <div id="messageBox" class="col col-75">
            <img class="message-box"  ng-if='imageData' ng-src="data:image/jpeg;base64,{{imageData}}" 
                 alt="image message NOT shown" height="80" width="80"><br>
            </div>
            <div class="col button button-clear " ng-click="takePicture()">
              <i class="icon ion-camera theme"></i> Add Or Change Profile Picture
            </div>

        <label class="item" ng-hide="createUser">
          <button class="button button-block button-positive" ng-click="doLogin($event)">Log In</button>
          <!-- <button ng-show="createUser" class="button button-block button-positive" ng-click="doSignup()">Sign Up</button> -->
        </label>
        
         <label class="item" ng-show="createUser">
              <!-- <button ng-hide="createUser" class="button button-block button-positive" ng-click="doLogin()">Log In</button> -->
          <button  class="button button-block button-positive" ng-click="doSignup()">Sign Up</button>
        </label>
</form>
    
  </ion-content>
</div>
