<ion-view title="Unread Messages" >
<!-- no message will skip this page if there are no messages -->
<ion-content class="has-header" ng-controller="ClublistCtrl" >

<div class="list" >
	<p><i class="badge badge-energized">total: {{messageboxCount}}</i></p>
 <!--  {{messagebox}} -->
    <a class="item item-avatar" ng-repeat="message in messagebox" 
       ng-click="toPerson(message.provider_id); messages=messageboxCount" style="border-color:#8585FF;">
      <img ng-src="data:image/jpeg;base64,{{message.avatar}}" >
      <h2>{{message.displayName}}</h2>
      <p>unread</p>
    </a>


</div>
<!-- {{messagebox}}
hello -->
</ion-content>
</ion-view>

