<div style="background-color:white;">
	<br><br><br><br> 

			<div class="item-input-inset">
				<label style="padding-right: 5%;" class="toggle toggle">
					<input type="checkbox" ng-model="checked">
					<div class="track">
						<div class="handle "></div>
					</div>
				</label>
				<label ng-hide="checked" class="item-input-wrapper" >
					<i class="icon ion-ios7-search placeholder-icon"></i>
					<input type="search" placeholder="Find A Person" ng-model="email">
				</label>
				<label ng-show="checked" class="item-input-wrapper" style="background-color: #4a87ee; ">
					<i class="icon ion-ios7-search placeholder-icon" ></i>
					<input type="search" placeholder="Find A Group" ng-model="title" style="color:white;">
				</label>
			</div>

			<div ng-hide="checked" >
				
					<div ng-repeat="user in allUsers  | filter:email" style="padding-left: 20px;">
						<a href ng-click="toPerson(user.id)">{{user.email | shaveEmail}}</a>
					</div>
					<hr>
			</div>

			<div ng-show="checked" >
			
					<div ng-repeat="pos in allUsers  | unique:'position'" style="padding-left: 20px;">
						<a href ng-click="toPeople(pos.position)">{{pos.position[0]}}</a>
					</div>
					<hr>
			</div>
			<!-- {{allUsers}} -->
			<hr>

</div>
